<HEAD>
<TITLE>HTML title</TITLE>
<TH>manpage_title section "Date" MARADNS "MaraDNS reference"</TH>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso8859-1">
</HEAD>
<BODY>

Corpo do documento

</BODY>

